<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    欢迎使用 {{ title }}!
  </h1>
</div>


<mat-tab-group>
  <mat-tab label="地址清洗">
    <app-address-clean></app-address-clean>
  </mat-tab>
  <mat-tab label="清洗结果审核">
    <app-clean-rtn-list></app-clean-rtn-list>
  </mat-tab>
  <mat-tab label="地址库查询">
    <app-standard-address></app-standard-address>
  </mat-tab>
  <mat-tab label="地址联想服务">
    <app-standard-address></app-standard-address>
  </mat-tab>
</mat-tab-group>




