<div id="main" class="f-cb">
  <div class="g-ctn">
    <form class="cleanInputContainer" #cleanForm="ngForm" (submit)="cleanAddress(cleanForm.value)">
      <mat-form-field>
        <input matInput [(ngModel)]="fullAddress" name='fullAddress' placeholder="需要清洗的完整详细地址">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">清洗</button>
    </form>
  </div>

  <div class="g-ctn">
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <p *ngIf="cleanedAddressWapper!= null">{{cleanedAddressWapper|json}}</p>
        <p *ngIf="cleanedAddressWapper== null">无法清洗</p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p *ngIf="cleanedAddressWapper != null ">{{cleanedAddressWapper.provName}}/</p>
        <p *ngIf="cleanedAddressWapper != null ">{{cleanedAddressWapper.cityName}}/</p>
        <p *ngIf="cleanedAddressWapper != null ">{{cleanedAddressWapper.distName}}/</p>
        <p *ngIf="cleanedAddressWapper != null ">{{cleanedAddressWapper.townName}}/</p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

